//Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// ### Neutral
$gray-medium: hsl(233, 8%, 62%);
$gray-light: hsl(220, 16%, 96%);
$gray-lightest: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font sizes
$body-14: 1.4rem;
$body-16: 1.6rem;
$body-18: 1.8rem;
