//Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// ### Neutral
$gray-medium: hsl(233, 8%, 62%);
$gray-light: hsl(220, 16%, 96%);
$gray-lightest: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font sizes
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-24: 2.4rem;
$fs-32: 3.2rem;
$fs-40: 4rem;
$fs-48: 4.8rem;
$fs-64: 6.4rem;
